/* .container {
  background-color: rgba(45, 150, 76, 0.849);
  width: 100vw;
  height: 100vh;
} */
.header__logo {
  padding: 20px 0 30px 30px;
}

.loader {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -moz-animation: spin 2s linear infinite;
}
.delete > span {
  /* background-color: red; */
}
