#modal-modal-description {
  display: block;
}
.modal__box {
  /* max-width: 100%; */
  /* text-align: center; */
  background: #b9b2b2;
}
.form {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background: #000; */
}
.modal__input {
  height: 25px;
  width: 200px;
  margin: 0 0 10px 0;
}
.css-1wnsr1i {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.button__cancel {
  padding: 5px 15px;
  background-color: rgb(45, 95, 4);
  color: whitesmoke;
  cursor: pointer;
}
.button__submit {
  padding: 5px 15px;
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
  cursor: pointer;
}
.form__titles {
  padding: 5px 0 5px 0;
  margin: 0;
  color: rgb(4, 53, 61);
  display: block;
}
#modal-modal-title {
  color: rgb(7, 224, 61);
  font-size: 24px;
  font-weight: 700;
  /* background: rgb(53, 52, 52); */
}
.error__span {
  display: block;
  margin: 0;
  text-align: center;
  color: red;
}
.error {
  border: 2px solid red;
}
