.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: whitesmoke;
  text-align: center;
}

.img {
  margin: 80px 0 85px 0;
}

.login__block {
  display: flex;
  flex-direction: column;
  gap: 45px;
  margin: 0 110px 210px 110px;
  position: relative;
}

.closed__eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.opened__eye {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
